#header {
  position: relative;
  height: 44px;
  background-color: #F4483E;
}
#header .logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  color: #fff;
  font: 400 32px consolas;
  margin-left: 15px;
}
#header span {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.youhuiquan {
  width: 100%;
  background-color: #fff;
  padding: 15px 5%;
}
.youhuiquan div {
  width: 32%;
  border: 1px solid #ccc;
  padding: 5px;
  float: left;
  margin-right: 1%;
  margin-bottom: 1%;
}
.youhuiquan div a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.youhuiquan div a img {
  width: 50px;
  height: 50px;
}
.youhuiquan div a h3 {
  font-size: 15px;
  line-height: 15px;
  margin: 10px 10px;
}
#nav {
  width: 100%;
  height: 30px;
  background: linear-gradient(#fff, #ECECEC);
  line-height: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
  font: 400 15px/40px consolas;
}
.blank {
  height: 20px;
  background-color: #fff;
}
