body {
  background-color: #fff;
  height: 100%;
}
#header {
  position: relative;
}
#header .logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  color: #fff;
  font: 400 32px/48px consolas;
  margin-left: 15px;
}
#header span {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#inlandMain {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  margin-top: -9px;
}
#inlandMain > .product {
  float: left;
  width: 50%;
  padding: 10px 0;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #eee;
}
#inlandMain > .product a {
  width: 100%;
}
#inlandMain > .product a h3 {
  font-size: 15px;
  font-weight: bold;
  height: 32px;
  overflow: hidden;
}
#inlandMain > .product a img {
  width: 140px;
  height: 140px;
  margin-top: 40px;
}
#inlandMain > .product a p {
  color: red;
  font-size: 15px;
  height: 21px;
  overflow: hidden;
}
#inlandMain > .product a span {
  font-size: 12px;
}
@media screen and (max-height: 700px) {
  #inlandMain > .product {
    height: 325px;
  }
}
@media screen and (min-height: 701px) {
  #inlandMain > .product {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  #inlandMain > .product {
    height: 350px;
  }
}
